body {
  background-color: #dcdcdc;
  text-align: center;
}

h1 {
  color: #000;
}

.outerArea {
  width: 100%;
  align-items: center;
}

.headerSection
{
  /* background-color: #e9ecef; */
  color: #8b8b8b;
  width: 100%;
}

.metrics {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding-top: 20px;
  
}

.metricsHeader {
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

.App {
  background-color: #FFF;
  width: 75%;
  padding: 20px;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  white-space: pre;

  font-size: 18px;
  border-radius: 8px;
}

.gameOptions {
  padding-top: 5px;
}

.columnSection {
  /* flex-direction: row; */
  width: 100%;
}

.upperHalf {
  width: fit-content;
}

.footer {
  padding-bottom: 30px;
}

/* .footer {
  height:24px;
  width: 100%;
  background-color: #dcdcdc;
  background-image: none; 
  background-repeat: repeat;
  background-attachment: scroll; 
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  left: 0pt;
}

.footer_contents {
  height: 24px;
  width: 1000px;
  margin: auto;
} */

button {
  border-radius: 6px;
}

input {
  border-radius: 6px;
  border-width: 1px;
}

.numberInput {
  width: 30px;
  /*font-size: 1.5em;*/
  margin-top: 10px;
  margin-bottom: 10px;
  /*border: 1px solid grey*/
  padding: 5px;
}

.resultsArea {
  font-size: 24px;
  font-weight: 600;
  padding-top: 20px;
}

.resultYes {
  color: #00ff00;
}

.resultNo {
  color: #000000;
}

.resultError {
  color: #ff0000;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

